 <style>
            html {
            font-size: 62.5%;
        }

        body {
            background-image: url(../images/animal_garden.jpg);
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
            height: 100vh;
            background-color:#124559d6;
            font-size: 1.3rem;
            font-family: "Montserrat", sans-serif;
        }

        .container {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            text-align: center;

        }

            .coin {
            background-image:url(../images/coin.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            color: transparent; 
            margin-top: 355px;

            }

            .coin:hover {
                background-size: auto;
                opacity: .8;
            }

        h1,
        h2,
        h3,
        h4  {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            margin-top: 15px;
            padding: 0;
            text-transform: uppercase;
        
        }


        h1 {
            margin: 10px 0px 20px;
            margin-top: -20px;
            width: 100%;
            color: firebrick;
            font-size: 3.5rem;
            position: absolute;
            z-index: 1;
        }

        h2 {
            font-size: 3rem;
            margin: 10rem 0 2rem;
            margin: auto;
            color: var(--bs-pink);
            font-weight:500;
            position: relative;
            margin-top: 20px;
        }


        h3 {
            font-weight: 400;
            margin-top: 60px;
            position: relative;
            color: white;
            width: 100%;
            font-size: 1.3rem;
        }

        h4 {
            font-weight: normal;
            margin-top: 100px;
            position: relative;
            color: white;
            width: 100%;
            font-size: 1.5rem;
        }
/*
            img {
            min-height: 100%;
            min-width: 1024px;
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            left: 0;
        }

                @media screen and (max-width: 1024px) {
                    img.bg {
                    left: 50%;
                    margin-left: -512px; 
                    }
                }
*/
            .button {
            display: none;
            margin: auto;
            position: relative;
            width: 130px;
            margin-top: 30px;
    
        }
        
            .social {

            margin: auto;
            position: relative;
            width: 130px;
            margin-top: 95px;

            }

                 /* Style all font awesome icons */
                .fa {
                  padding: 20px;
                  font-size: 30px;
                  width: 60px;
                  text-align: center;
                  text-decoration: none;
                  border-radius: 50%;    
                }

                /* Add a hover effect if you want */
                .fa:hover {
                  opacity: 0.7;
                }

                /* Set a specific color for each brand */

                /* Facebook */
                .fa-facebook {
                  background: #3B5998;
                  color: white;
                }

                /* Twitter */
                .fa-twitter {
                  background: #55ACEE;
                  color: white;
} 

      </style>